:root {
  --gray-900: #000000;
  --gray-800: #2A2A2A;
  --gray-700: #5B5B5B;
  --gray-600: #8B8B8B;
  --gray-500: #B5B5B5;
  --gray-400: #D6D6D6;
  --gray-300: #EDEDED;
  --gray-200: #FBFBFB;
  --gray-100: #FFFFFF;

  --primary-900: #091C15;
  --primary-700: #174C37;
  --primary-500: #298460;
  --primary-400: #3ABC88;
  --primary-300: #7ED7B4;
  --primary-100: #EDF9F4;

  --background: var(--gray-100);
  --text: var(--gray-900);    

  --link: #3C48CD;
  --visited: #911BB1;
  --focus: #D16F19;

  accent-color: var(--primary-500);
}
html {
  font-family: "Gill Sans", "Gill Sans MT", "Franklin Gothic Medium",
    "Franklin Gothic", "ITC Franklin Gothic", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
body {
  margin: 0;
  max-width: 100%;
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  max-width: 72ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

header {
  text-align: center;
  margin: 2rem 1rem;
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}
h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin: 0.3rem 0;
  color: var(--primary-500);
}
h2 {
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin: 0.3rem 0;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0.3rem 0;
  font-weight: bold;
}
.query {
  border-style: solid solid solid solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 8px;
  font-size: 1rem;
  padding: 5px 6px;
  margin: 1rem 0;
  text-align: left;
  width: 60%;
  max-width: 600px;
  height: 2rem;
}
button {
  background-color: var(--primary-500);
  border-radius: 8px;
  border-style: none;
  color: var(--gray-100);
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}
li {
  list-style: none;
  border-style: solid none none none;
  border-width: 3px;
  border-color: var(--gray-900);
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
}
ol {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
button:hover{
  background-color: var(--primary-400);
}
button:focus-visible {
  outline-offset: 1px;
  outline: var(--focus) solid 2px;
  background-color: var(--primary-400);
}
.query:focus-visible {
  outline-offset: 1px;
  outline: var(--focus) solid 2px;
}
.checkbox:hover{
  background-color: var(--primary-400);
}
.checkbox:focus-visible {
  outline-offset: 1px;
  outline: var(--focus) solid 2px;
}
.font-normal {
  font-weight: normal;
}
.results-summary {
  align-self: flex-start;
}
